.profile-pic{
    width:121px;
    height:121px;
    border-radius: 10%;
}
.profile-pic-outer{
    padding: 5px;
    width:131px;
    height:131px;
    border-radius: 10%;
    background-color: white;
}