<header>
  <div class="navbar navbar-dark bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <a class="navbar-brand text-white">
            <strong>BiswaJit</strong>
          </a>
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4"></div>
      </div>
    </div>
  </div>
</header>
<main>
  <section class="jumbotron text-center">
    <div class="container">
      <img class="profile-pic" src="assets/images/avtar.jpg">
      <h1 class="jumbotron-heading">{{name}}</h1>
      <p class="lead">{{detail}}</p>
      <li>
        <ul> git link </ul>
        <ul> linkedin link </ul>
        <ul> facebook link </ul>
      </li>
    </div>
  </section>
</main>
<footer class="text-muted">
    <div class="container">
      <p class="float-right">
        <a href="#">Back to top</a>
      </p>
      <p>Album example is © Bootstrap, but please download and customize it for yourself!</p>
    </div>
  </footer>
